@import url('https://fonts.googleapis.com/css?family=poppins&display=swap');
*{
  box-sizing:border-box;
}
body{
 background-color:#f5b811;
  font-family:'Poppins',sans-serif;
  text-align:center;
  margin:0;
  }
form{
  background-color:#f09b13;
  box-shadow:3px 6px 12px rgba(0, 0, 0, 0.5);
  border-radius:9px;
  padding:13px;
  max-width:420px;
  margin:0 auto;
  
}
.form-control{
  margin-bottom:20px;
  text-align:left;
  
 }
.form-control label{
  dispaly:block;
  margin-bottom:10px;
  padding:6px;
  font-size:18px;
  
}
.form-control input, 
.form-control textarea,
.form-control select {
  border:1px solid #f09b13;
  dispaly:block;
  width:100%;
  margin-bottom:10px;
  margin-top:6px;
  border-radius:6px;
  font-family:inherit;
  font-size:13px;
  padding:6px;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"]{
  dispaly:inline-block;
  width:3%;
  }
button{
  background-color:#f5b811;
  border-radius:6px;
  font-family:inherit;
  font-size:16px;
  padding:13px;
  width:100%;
}